
.search-card {
	-fx-padding: 0.8125em;
}

.search-text {
}

.search-header {
    -fx-font-weight: bold;
}

#searchBox {
	-fx-padding: 0.8125em;
	-fx-spacing: 0.5em;
}

#cardsPane {
	-fx-padding: 0.8125em;
}

#userSearch, #contractSearch {
    -fx-font-size: 0.875em;
    -fx-text-fill: #ffffff;
}

/*
#toggleBox {
	-fx-background-color: white;
    -fx-background-radius: 1em;
	-fx-padding: 0.120em;
}
*/